.fa-delete-left {
    color: #424242;
}

.description {
    font-size:medium;
}

.description-timestamp {
    margin-bottom: 10px;
    font-size: small;
    color: #616161;
}

.completed__item {
    text-decoration: line-through;
}