.fa-delete-left {
    color: #424242;
}

.description {
    font-size: medium;
    font-weight: bold;
}

.description-timestamp {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: small;
    color: #616161;
}

.completed__item {
    text-decoration: line-through;
}

